.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%);
  
}


.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color:hsl(0, 0%, 100%);
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: hsl(217, 12%, 63%);

}

.logo {
  height: 1em;
}

.stardiv{
  border-radius:50% ;
  background-color: hsl(213, 20%, 24%);
  width: 50px;
  height: 50px;
}
.starimage{
margin-left:30%;
margin-top: 25%;
}
.rating{
  display: flex;
  align-items: center;
}
.ratingbtn{
  border-radius: 50%;
  height:50px;
  width: 50px;
  border:none;
  margin-right:10px;
  background-color: hsl(213, 20%, 24%);
  color: hsl(217, 12%, 63%);

}
.ratingbtn:hover{
  background-color: hsl(25, 97%, 53%);
  color:white;
}
.submitbtn{
  width:300px;
  height:50px;
  border-radius: 25px;
  background-color: hsl(25, 97%, 53%);
  color:white;
  border:none;
}
.submitbtn:hover{
  background-color:white;
  color: hsl(25, 97%, 53%);
  border:none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
