 @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500&display=swap');
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%);
  

}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-bottom:10%;
  font-family: 'Overpass', sans-serif;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color:hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  margin-top:10%;
}

.thankcard {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%);
}
.thanktext{
  border-radius: 25px;
  background-color: hsl(213, 20%, 24%);
  justify-content: center;
}
.thanktextp{
  color:hsl(25, 97%, 53%);
  font-weight: 300;
  font-size: 14px;
  padding:5px;

}

.thankcard h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color:hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  margin-top:10%;
}



.thankcard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-bottom:10%;
  font-family: 'Overpass', sans-serif;
}

.logo {
  height: 1em;
}

.stardiv{
  border-radius:50% ;
  background-color: hsl(213, 20%, 24%);
  width: 50px;
  height: 50px;
}
.starimage{
margin-left:30%;
margin-top: 25%;
}
.rating{
  display: flex;
  align-items: center;
  margin-bottom:10%;

}
.ratingbtn{
  border-radius: 50%;
  height:50px;
  width: 50px;
  border:none;
  margin-right:10px;
  background-color: hsl(213, 20%, 24%);
  color: hsl(217, 12%, 63%);

}
.ratingbtn:hover{
  background-color: hsl(25, 97%, 53%);
  color:white;
}
.ratingbtn:active {
  top: 2px;
  left: 1px;
  background-color: hsl(25, 97%, 53%);
  color:white;
}


.submitbtn{
  width:300px;
  height:40px;
  border-radius: 25px;
  background-color: hsl(25, 97%, 53%);
  color:white;
  border:none;
}
.submitbtn:hover{
  background-color:white;
  color: hsl(25, 97%, 53%);
  border:none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
